HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### Mac/Linux ###
.DS_Store

### Archivos subidos por usuarios (no versionar imagenes reales) ###
src/main/resources/static/uploads/**
!src/main/resources/static/uploads/.gitkeep
